# cleansing data WDI

In [82]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
dataproj=pd.read_csv(r"C:\Users\amina\Desktop\projects_DATA_science\API_SP.POP.TOTL_DS2\API_SP.POP.TOTL_DS2.csv")

In [83]:
dataproj.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN

# checking the missing data with isna method
       it returns a boolean values with 266 rows and 68 columns, this means that it has the same shape as our original data frame. Our data has a TRUE value which means we have a missing data. all of them are in the last columns (columns 68).
       We can use the notna method which is exactly the reverse of isna Method. which means that it gives TRUE for the missing data.

# Exploring the missing data with sum method
    it returns the sum of the missing data of each columns.

In [84]:
dataproj.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                2
                 ...
2019                1
2020                1
2021                1
2022                1
Unnamed: 67       266
Length: 68, dtype: int64

# value_counts with argument "dropna"
    by applying the value_counts method. This returns counts of the unique values within this column. By default, value_counts doesn't consider NaN, the missing value as a unique value. So to include missing value, we'll add the argument dropna=False. This setting won't dropna, which means it includes NaN as a unique value too.

In [85]:
dataproj['1960'].value_counts()

571192428.0    2
97179656.0     2
227948869.0    2
32500.0        2
3497431.0      1
              ..
4128880.0      1
72374.0        1
571990.0       1
780138593.0    1
3806310.0      1
Name: 1960, Length: 260, dtype: int64

In [86]:
dataproj['1960'].value_counts(dropna=False)

571192428.0    2
NaN            2
97179656.0     2
227948869.0    2
32500.0        2
              ..
4128880.0      1
72374.0        1
571990.0       1
780138593.0    1
3806310.0      1
Name: 1960, Length: 261, dtype: int64

In [87]:
dataproj['1962'].value_counts(dropna=False)

598784274.0    2
NaN            2
102159899.0    2
239280622.0    2
35000.0        2
              ..
4378604.0      1
75412.0        1
604833.0       1
799922883.0    1
4049778.0      1
Name: 1962, Length: 261, dtype: int64

In [88]:
dataproj['Indicator Code'].value_counts(dropna=False)

SP.POP.TOTL    266
Name: Indicator Code, dtype: int64

In [89]:
dataproj['Indicator Name'].value_counts(dropna=False)

Population, total    266
Name: Indicator Name, dtype: int64

In [90]:
dataproj['Unnamed: 67'].value_counts(dropna=False)

NaN    266
Name: Unnamed: 67, dtype: int64

In [91]:
dataproj['Country Name'].value_counts()

Aruba                   1
Oman                    1
Malawi                  1
Malaysia                1
North America           1
                       ..
Guyana                  1
High income             1
Hong Kong SAR, China    1
Honduras                1
Zimbabwe                1
Name: Country Name, Length: 266, dtype: int64

In [92]:
dataproj['Country Code'].value_counts()

ABW    1
OMN    1
MWI    1
MYS    1
NAC    1
      ..
GUY    1
HIC    1
HKG    1
HND    1
ZWE    1
Name: Country Code, Length: 266, dtype: int64

# checking the missing value by rows
    all the rows contain one missing value. 266 values.

In [93]:
num_missing_data_by_row=dataproj.isna().sum(axis=1)
num_missing_data_by_row>0

0      True
1      True
2      True
3      True
4      True
       ...
261    True
262    True
263    True
264    True
265    True
Length: 266, dtype: bool

In [94]:
(num_missing_data_by_row>0).sum()

266

# examine the rows with a missing data
    the result includes all the rows with sum missing value.

In [97]:
num_missing_data_by_row>0

0      True
1      True
2      True
3      True
4      True
       ...
261    True
262    True
263    True
264    True
265    True
Length: 266, dtype: bool

In [98]:
num_missing_data_by_row>1

0      False
1      False
2      False
3      False
4      False
       ...
261    False
262    False
263    False
264    False
265    False
Length: 266, dtype: bool

In [99]:
df=dataproj.drop(['Unnamed: 67','Indicator Code','Indicator Name'], axis = 1)
df=df.dropna()
num_missing_data_by_row=df.isna().sum(axis=1)
num_missing_data_by_row>0

0      False
1      False
2      False
3      False
4      False
       ...
261    False
262    False
263    False
264    False
265    False
Length: 264, dtype: bool

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  264 non-null    object
 1   Country Code  264 non-null    object
 2   1960          264 non-null    float64
 3   1961          264 non-null    float64
 4   1962          264 non-null    float64
 5   1963          264 non-null    float64
 6   1964          264 non-null    float64
 7   1965          264 non-null    float64
 8   1966          264 non-null    float64
 9   1967          264 non-null    float64
 10  1968          264 non-null    float64
 11  1969          264 non-null    float64
 12  1970          264 non-null    float64
 13  1971          264 non-null    float64
 14  1972          264 non-null    float64
 15  1973          264 non-null    float64
 16  1974          264 non-null    float64
 17  1975          264 non-null    float64
 18  1976          264 non-null    float64
 19  1977          264 non-null    float64
 20  1978          264 non-null    float64
 21  1979          264 non-null    float64
 22  1980          264 non-null    float64
 23  1981          264 non-null    float64
 24  1982          264 non-null    float64
 25  1983          264 non-null    float64
 26  1984          264 non-null    float64
 27  1985          264 non-null    float64
 28  1986          264 non-null    float64
 29  1987          264 non-null    float64
 30  1988          264 non-null    float64
 31  1989          264 non-null    float64
 32  1990          264 non-null    float64
 33  1991          264 non-null    float64
 34  1992          264 non-null    float64
 35  1993          264 non-null    float64
 36  1994          264 non-null    float64
 37  1995          264 non-null    float64
 38  1996          264 non-null    float64
 39  1997          264 non-null    float64
 40  1998          264 non-null    float64
 41  1999          264 non-null    float64
 42  2000          264 non-null    float64
 43  2001          264 non-null    float64
 44  2002          264 non-null    float64
 45  2003          264 non-null    float64
 46  2004          264 non-null    float64
 47  2005          264 non-null    float64
 48  2006          264 non-null    float64
 49  2007          264 non-null    float64
 50  2008          264 non-null    float64
 51  2009          264 non-null    float64
 52  2010          264 non-null    float64
 53  2011          264 non-null    float64
 54  2012          264 non-null    float64
 55  2013          264 non-null    float64
 56  2014          264 non-null    float64
 57  2015          264 non-null    float64
 58  2016          264 non-null    float64
 59  2017          264 non-null    float64
 60  2018          264 non-null    float64
 61  2019          264 non-null    float64
 62  2020          264 non-null    float64
 63  2021          264 non-null    float64
 64  2022          264 non-null    float64
dtypes: float64(63), object(2)
memory usage: 136.1+ KB

In [102]:
df.to_csv(r"C:\Users\amina\Desktop\projects_DATA_science\API_SP.POP.TOTL_DS2\df.csv")

In [103]:
df

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
262,"Yemen, Rep.",YEM,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
263,South Africa,ZAF,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
264,Zambia,ZMB,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
265,Zimbabwe,ZWE,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0